/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap'); */
@import url('https://fonts.cdnfonts.com/css/cascadia-code');

:root {
    --back: rgba(var(--vscode-editor-background), 0.1);
}

/* Remove settings icon. */
.action-label.codicon.codicon-settings-view-bar-icon {
    display: none !important;
}


/* Remove tips from home page. */
.watermark-box {
    display: none !important;
}


/* Add animations */
.split-view-container {
    background-color: var(--vscode-editor-background);
}

.split-view-view.visible {
    transition: left .5s;
}

.monaco-list-row {
    transition: top .2s;
}

.tab,
.tab.selected {
    transition: background-color .4s, border .4s;
}


/* Change font. */
.windows {
    font-family: "Cascadia Code" !important;
    font-weight: 500 !important;
}

.monaco-workbench .part.titlebar {
    font-family: 'Cascadia Code';
}


/* Code canvas top shadow */
.monaco-editor .scroll-decoration {
    box-shadow: 0px 0px 11px 10px var(--vscode-editor-background) !important;
    top: -8px !important;
}

/* Code highlight */
.cdr.selectionHighlight,
.cdr.wordHighlight,
.bracket-highlighting-0,
.cdr.hoverHighlight {
    border-radius: 5px !important;
    height: 95% !important;
}

.cdr.wordHighlightStrong {
    border-radius: 6px;
    background-color: #edd37e26;
}

/* Code suggestions. */
.suggest-details {
    background-color: var(--back) !important;
    backdrop-filter: blur(10px);
    margin-left: 8px !important;
    border-radius: 10px !important;
    padding: 4px !important;
}

.editor-widget.suggest-widget.visible {
    background-color: var(--back) !important;
    backdrop-filter: blur(10px);
    border-radius: 10px !important;
}

.editor-widget.parameter-hints-widget.visible {
    background-color: var(--back) !important;
    backdrop-filter: blur(10px);
    border-radius: 10px !important;
    padding: 4px !important;
}

/* Fix some theme variables. */
* {
    --vscode-focusBorder: #ffffff00;
}

/* Tabs. */
.tab-border-top-container,
.tab-border-bottom-container {
    display: none !important;
}

.tab {
    border-radius: 6px !important;
    border: 1px solid transparent;
    margin-left: 8px !important;
}

.tab.selected {
    border-radius: 6px !important;
    background-color: #ffba970d !important;
    border: 1px solid #b3b3b30d !important;
}

.tabs-container {
    margin-bottom: 4px;
}

/* Color picker */
.colorpicker-color-decoration {
    border-radius: 6px !important;
}

/* Tooltip box style */
.monaco-hover {
    box-shadow: 0px 8px 32px rgba(0, 0, 0, .45) !important;
    backdrop-filter: blur(16px) !important;
    border-radius: 12px !important;
    margin-bottom: 8px !important;
    background-color: var(--back) !important;
}

/* Remove background for lists */
.monaco-list-rows {
    background: transparent !important;
}

/* Hide file explorer action buttons */
.monaco-workbench .part.sidebar .title-actions .actions-container {
    display: none;
}

/* Center Sidebar title. */
.composite.title > .title-label {
    width: 100% !important;
    padding-left: 0px !important;
    text-align: center !important;
}

/* Slim sliders. */
.slider {
    width: 2px !important;
    right: 1px !important;
    left: auto !important;
    border-radius: 50px !important;
}

.slider.active {
    background-color: rgba(255, 255, 255, 0.486) !important;
}

/* More rounded notifications. */
.monaco-workbench > .notifications-toasts .notification-toast-container > .notification-toast {
    border-radius: 10px !important;
}

/* Sidebar title. */
.monaco-workbench .part.sidebar > .title > .title-label h2 {
    text-transform: none !important;
    font-family: 'Cascadia Code';
    font-size: 13px;
    font-weight: 600;
}

/* File Explorer Selected Item */
.monaco-list.list_id_1 .monaco-list-row.selected {
    background-color: var(--vscode-editor-background) !important;
    border-radius: 0px 6px 6px 0px !important;
}

.monaco-list.list_id_1 .monaco-list-row:hover {
    background-color: #e9aea410 !important;
    border-radius: 0px 6px 6px 0px !important;
}


/* Command palette text input */
.quick-input-filter .monaco-inputbox {
    border-radius: 8px !important;
    padding: 4px !important;
    border: 1px solid #3c3836 !important;
    background-color: var(--vscode-editor-background) !important;
    font-family: "Cascadia Code" !important;
    font-size: 14px !important;
    margin-bottom: 16px !important;
}

.quick-input-widget {
    top: 25% !important;
    border-radius: 8px !important;
    border: 1px solid var !important;
}

a.action-label.codicon.codicon-gear {
    opacity: .4;
}

#command-blur {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #11111169;
    top: 0;
    left: 0;
    backdrop-filter: blur(8px);
}

/* Command palette's input box placeholder. */
.monaco-inputbox input::placeholder {
    color: rgba(255, 255, 255, .3) !important;
}


/* Remove vscode icon */
.monaco-workbench .part.titlebar > .titlebar-container > .titlebar-left > .window-appicon:not(.codicon) {
    background-image: none !important;
}

/* Smooth scrolling for editor */
.monaco-editor .overflow-guard > .monaco-scrollable-element {
    scroll-behavior: smooth !important;
}

/* Smooth scrolling for command palette/box */
.quick-input-list .monaco-list-rows {
    scroll-behavior: smooth !important;
}